!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*

!node-red/

secrets.yaml

.ssh
.storage
.cloud
.google.token
home-assistant.log*
home-assistant_v2*
id_rsa*
notebooks/
esphome/
deps/
custom_components/
*.log
*.log.txt
tts/
*watchman*
*zigbee.db*
.ha_run.lock
